/* カスタムプロパティ */
:root {
  --eventColor: #12bd45;
  --invalidColor: #ff0000;
}

/* ヘッダー*/
.calendarHeader {
  display: flex;
  padding-top: 50px;
  padding-left: 250px;
}

/* 曜日*/
.dayOfWeek {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  place-content: center;
}
.dayOfWeekItem {
  border: 1px solid #cccccc;
  color: #666666;
}

/* カレンダー、グリッド設定*/
.gridParent {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-auto-rows: 120px;
  place-content: center;
}
.gridChild {
  border: 1px solid #cccccc;
  text-align: center;
  color: #666666;
  overflow: hidden;
  cursor: pointer;
}
.gridChild:hover {
  overflow: auto;
  .createNew {
    opacity: 0.5;
    background-color: var(--eventColor);
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
  }
}

/* 曜日*/
.dayOfWeek {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  place-content: center;
}
.dayOfWeekItem {
  border: 1px solid #cccccc;
  color: #666666;
}

/* 当日、月による色分け*/
.today {
  color: var(--eventColor);
  border-top: solid var(--eventColor);
}
.differentMonth {
  color: #cccccc;
}

/* カレンダー上部*/
.calendar {
  padding-right: 720px;
  padding-left: 20px;
  padding-top: 15px;
}
.yearMonth {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
}

/* 祝日、予定*/
.holiday,
.daySchedule {
  background-color: var(--eventColor);
  font-size: 11px;
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  padding-left: 5px;
  margin-bottom: 1px;
  border-radius: 2px;
}

/* モーダルの外側*/
.outOfModal {
  background-color: rgb(0 0 0 / 0);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* モーダル共通 */
/* モーダルヘッダー*/
.createNewHeader {
  padding-right: 210px;
}
.detailHeader {
  padding-right: 150px;
}
.holidayHeader,
.editHeader {
  padding-right: 190px;
}
.headerIcons {
  padding-left: 5px;
}
.icons {
  padding-top: 10px;
  padding-left: 10px;
}

/* 予定確認,祝日確認画面*/
.readOnlyTitle,
.readOnlyDate,
.readOnlyTime,
.readOnlyMemo {
  display: flex;
  margin-top: 15px;
}
span.title,
span.date,
span.time,
span.memo {
  padding: 10px;
}

.inputForm {
  padding: 10px;

  input.validTitle {
    border: solid 1px #000000;
    display: block;
    width: 190%;
    color: red;
  }
}

/* モーダル入力画面*/

input.validDate {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  border: solid 1px #000000;
}
input.validStartTime,
input.validEndTime {
  display: inline-block;
  padding: 5px;
  border: solid 1px #000000;
  margin: 10px;
  width: 40%;
}
textarea.validMemo {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  border: solid 1px #000000;
  height: 90px;
}

/* エラー時入力画面*/
input.invalidTitle,
input.invalidDate,
textarea.invalidMemo {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  border: solid 1px var(--invalidColor);
  &.textarea.invalidMemo {
    height: 90px;
  }
  &:focus {
    outline: none;
    border: 2px solid var(--invalidColor);
  }
}
input.invalidStartTime,
input.invalidEndTime {
  display: inline-block;
  padding: 5px;
  border: solid 1px var(--invalidColor);
  margin: 10px;
  width: 40%;
  &:focus {
    outline: none;
    border: 2px solid var(--invalidColor);
  }
}

/* バリデーションスタイル*/
.isError {
  color: var(--invalidColor);
  display: flex;
  padding-left: 10px;
}

.isErrorCaution {
  display: block;
  padding-top: 0px;
}

/* 新規作成ボタン*/
.createNew {
  opacity: 0;
}

/* 新規作成,編集モーダル*/
.createNewModal,
.editModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 350px;
  height: 440px;
}

/* 詳細、祝日モーダル*/
.detailModal,
.holidayModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 300px;
  height: 300px;
}

/* 確認モーダル */
.confirmModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 300px;
  height: 150px;
}

.overlay {
  background-color: rgb(0 0 0 / 0.2);
}

/* 確認画面*/
h1.title {
  padding: 20px 10px;
  font-weight: bold;
}

/* 確認モーダル */
.confirmModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 400px;
  height: 150px;
}

/* 確認画面*/
h1.title {
  padding: 10px 10px;
  font-weight: bold;
}
p.message {
  padding: 15px 10px;
  font-weight: bold;
}

.leftButton {
  text-align: left;
  float: left;
}
.rightButton {
  text-align: right;
}

button.cancel,
button.ok {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100px;
  padding: 5px 0;
  text-align: center;
  cursor: pointer;
}
button.ok {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 100px;
  padding: 5px 0;
  margin-left: 170px;
  text-align: center;
  cursor: pointer;
}
