/* ヘッダー*/
.calendarHeader {
  display: flex;
  padding-top: 50px;
  padding-left: 250px;
}

/* 曜日*/
.dayOfWeek {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  place-content: center;
}
.dayOfWeekItem {
  border: 1px solid #cccccc;
  color: #666666;
}

/* カレンダー、グリッド設定*/
.gridParent {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  grid-auto-rows: 120px;
  place-content: center;
}
.gridChild {
  border: 1px solid #cccccc;
  text-align: center;
  color: #666666;
  overflow: hidden;
  cursor: pointer;
}
.gridChild:hover {
  overflow: auto;
  .createNew {
    opacity: 0.5;
    background-color: #12bd45;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    text-align: left;
  }
}

/* 曜日*/
.dayOfWeek {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
  place-content: center;
}
.dayOfWeekItem {
  border: 1px solid #cccccc;
  color: #666666;
}

/* 当日、月による色分け*/
.today {
  color: #12bd45;
  border-top: solid #12bd45;
}
.differentMonth {
  color: #cccccc;
}

/* カレンダー上部*/
.calendar {
  padding-right: 720px;
  padding-left: 20px;
  padding-top: 15px;
}
.yearMonth {
  padding-left: 20px;
  padding-top: 15px;
  padding-right: 20px;
}

/* 祝日、予定*/
.holiday,
.daySchedule {
  background-color: #12bd45;
  font-size: 11px;
  color: #ffffff;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
  padding-left: 5px;
  margin-bottom: 1px;
  border-radius: 2px;
}

/* モーダルの外側*/
.outOfModal {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

/* モーダルヘッダー*/
.createNewHeader {
  padding-right: 210px;
}
.detailHeader {
  padding-right: 150px;
}
.holidayHeader,
.editHeader {
  padding-right: 190px;
}
.headerIcons {
  padding-left: 5px;
}

/* モーダル入力画面*/
input.validTitle,
input.validDate {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  border: solid 1px #000000;
}
input.validStartTime,
input.validEndTime {
  display: inline-block;
  padding: 5px;
  border: solid 1px #000000;
  margin: 10px;
  width: 40%;
}
textarea.validMemo {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  height: 90px;
  border: solid 1px #000000;
}
/* エラー時入力画面*/
input.invalidTitle,
input.invalidDate {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  border: solid 1px #ff0000;
  &:focus {
    outline: none;
    border: 2px solid #ff0000;
  }
}
input.invalidStartTime,
input.invalidEndTime {
  display: inline-block;
  padding: 5px;
  border: solid 1px #ff0000;
  margin: 10px;
  width: 40%;
  &:focus {
    outline: none;
    border: 2px solid #ff0000;
  }
}
textarea.invalidMemo {
  display: block;
  padding: 5px;
  margin: 10px;
  width: 90%;
  height: 90px;
  border: solid 1px #ff0000;
  &:focus {
    outline: none;
    border: 2px solid #ff0000;
  }
}

/* バリデーションスタイル*/
.isError {
  color: #ff0000;
  display: flex;
  padding-left: 10px;
}

.isErrorCaution {
  display: block;
  padding-top: 0px;
}

/* 新規作成ボタン*/
.createNew {
  opacity: 0;
}

/* 新規作成,編集モーダル*/
.createNewModal,
.editModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 350px;
  height: 440px;
}

/* 詳細、祝日モーダル*/
.detailModal,
.holidayModal {
  display: inline-block;
  border: 2px solid #000000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 10;
  width: 300px;
  height: 300px;
}

/* 予定確認画面*/
.detailTitle,
.detailDate,
.detailTime,
.detailMemo {
  display: flex;
  margin-top: 15px;
}
span.title,
span.date,
span.time,
span.memo {
  padding: 10px;
}
.icons {
  padding-top: 10px;
  padding-left: 10px;
}
